.sub-div-shadow {
    box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.custom-margin {
    margin-bottom: 1rem;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}

.col-form-label {
    padding-left: 0 !important;
}

.custom-div {
    text-align: center;
}

.filter-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #000000;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
    margin-left: 0.25rem;
    background-color: #fef6ab;
    padding: 0px 3px;
    font-size: 1rem;
}

.filter-countries {
    border-bottom: 0.025px solid #d7d7d7;
    margin: 0px !important;
}

ul {
    padding-left: 15px;
}

.card-heading {
    margin: 0.5rem 0;
    padding-left: 7px !important;
}

.death-count {
    color: #f76767;
}

.fatality-rate {
    color: #8994f7;
    font-weight: bold;
}

.card-body {
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    max-height: 500px;
    overflow: auto;
}

.country-name {
    font-size: 1rem;
    margin: 0.125rem 0;
}

.card {
    width: 100%;
}

.search-icon {
    float: right;
    margin-right: 6px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    padding-left: 4px;
    padding-bottom: 4px;
}

.daily-increase {
    color: rgb(117, 179, 115);
    font-weight: bold;
    white-space: nowrap;
}
