.sub-div-shadow {
    box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.custom-margin {
    margin-bottom: 1rem;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}

.col-form-label {
    padding-left: 0 !important;
}

.custom-div {
    text-align: center;
}

.div-red {
    background-color: rgb(252, 217, 217);
    color: #6036f7;
}

.div-yellow {
    background-color: rgb(255, 255, 218);
    color: #6036f7;
}

.div-green {
    background-color: rgb(204, 250, 204);
    color: #6036f7;
}